@import "./variables";

.brands {
    
  &__list {
    width: auto;
    margin: 0 0 16px 0;
    padding: 16px;
    list-style: none;

    @media(min-width: 575px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 24px 24px 0 24px;
      margin: 0;
      margin-bottom: 24px;
      overflow: hidden;
    }

    @media(min-width: $tablet) {
      justify-content: flex-start;
    }

    @media(min-width: 1120px) {
      padding: 32px 32px 0 32px;
    }

    @media(min-width: $desktop) {
      padding-right: 0;
    }
  
  }
  
  &__item {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    display: flex;
    align-items: center;

    @media(min-width: 575px) {
      margin-bottom: 16px;
    }

    &:not(:nth-child(3n)) {

      @media(min-width: $tablet) {
        margin-right: 24px;
      }
  
      @media(min-width: 1120px) {
        margin-right: 0;
      }

      @media(min-width: $desktop) {
        margin-right: 32px;
      }

      @media(min-width: 1440px) {
        margin-right: 0;
      }
    }

    &:not(:nth-child(4n+4)) {

      @media(min-width: 1120px) {
          margin-right: 32px;
      }
    }

    @media(min-width:575px) {
      flex-basis: 47%;
    }

    @media(min-width: $tablet) {
      flex-basis: 31%;
    }

    @media(min-width: 1120px) {
      flex-basis: auto;
      width: 240px;
    }
  }

  
  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    background: url('../img/icon-go.svg') no-repeat 91% center;
    transition: opacity 0.3s;

    &::hover {
      opacity: 0.7;
    }
  }

  &__button {
    display: none;
    margin-left: 32px;
    margin-bottom: 32px;

    @media(min-width: 575px) {
      display: block;
    }

  }
  
}
  
.swiper-pagination-bullet {
  background: #DDDDDD;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}
       
.swiper-pagination {
  @media(min-width: 575px) {
    display: none;
  }
}