@import "./variables";

.brands {
    
  &__list {
    width: auto;
    margin: 0 0 16px 0;
    padding: 16px;
    list-style: none;
    align-items: center;

    @media(min-width: 575px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 24px 24px 0 24px;
      margin: 0;
      height: 164px;
      margin-bottom: 24px;
      overflow: hidden;
    }

    @media(min-width: $tablet) {
      justify-content: flex-start;
    }

    @media(min-width: 1120px) {
      padding: 32px 32px 0 32px;
    }

    @media(min-width: $desktop) {
      padding-right: 0;
    }
    
    &--unfolded {
      @media(min-width: 575px) {
        height: 100%;
      }
    }
  }
  
  &__item {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    &:not(:nth-child(3n)) {

      @media(min-width: $tablet) {
        margin-right: 24px;
      }
  
      @media(min-width: 1120px) {
        margin-right: 0;
      }
    }

    &:not(:nth-child(4n+4)) {

      @media(min-width: 1120px) {
          margin-right: 32px;
      }
    }

    @media(min-width:575px) {
      flex-basis: 47%;
    }

    @media(min-width: $tablet) {
      flex-basis: 31%;
    }

    @media(min-width: 1120px) {
      flex-basis: auto;
      width: 240px;
    }
  }

  
  &__link {
    display: flex;
    width: 100%;
    height: 72px;
    align-items: center;
    padding: 0 16px;
    background: url('../img/icon-go.svg') no-repeat 91% center;
    transition: opacity 0.3s;

    &::hover {
      opacity: 0.7;
    }
  }

  &__button {
    position: relative;
    display: none;
    line-height: 24px;
    color: $text;
    font-size: 16px;
    font-family: 'TTLakes-Medium';
    border: none;
    background-color: transparent;    
    margin-left: 32px;
    padding-left: 16px;
    margin-bottom: 32px;

    @media(min-width: 575px) {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      width: 7px;
      height: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../img/icon-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      transition: transform 0.4s;
    }
  }
  
  
  &__button.rotated::before {
    transform: rotate(180deg) translateY(50%);
  }
}
  
.swiper-pagination-bullet {
  background: #DDDDDD;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}
       
.swiper-pagination {
  @media(min-width: 575px) {
    display: none;
  }
}