@font-face {
  font-family: 'TTLakes-Regular';
  font-weight: 400;
  src: url('../fonts/TTLakes-Regular.woff');
}

@font-face {
  font-family: 'TTLakes-Medium';
  font-weight: 500;
  src: url('../fonts/TTLakes-Medium.woff');
}

@font-face {
  font-family: 'TTLakes-Bold';
  font-weight: 700;
  src: url('../fonts/TTLakes-Bold.woff');
}