@import "./variables";

.footer {
	padding: 16px 4px;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #D9FFF5;

	@media(min-width:575px) {
		flex-direction: row;
		justify-content: space-between;
		padding: 16px;
	}

	@media(min-width: $tablet) {
		padding: 32px 24px 25px 24px;
	}

	@media(min-width: $desktop) {
		padding-left: 32px;
		padding-right: 32px;
	}

	&__text {
		font-size: 14px;
		line-height: 16px;
		opacity: 0.72;
		text-align: center;
		color: #7E7E82;

		@media(min-width:575px) {
				flex-basis: 33%;
		}

		&:first-child {
			margin-bottom: 16px;

			@media(min-width:575px) {
				margin: 0;
				text-align: left;
			}
		}

		&:nth-child(2) {
			margin-bottom: 16px;

			@media(min-width:575px) {
				margin: 0;
			}

			@media(min-width: 1120px) {
				text-align: left;
			}
		}

		&:last-child {
			@media(min-width:575px) {
					text-align: right;
			}
		}

	}

}