@import "./variables";

.form-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
  transition: all 0.7s;
  background-color: rgba($color: white, $alpha: 0.96);
  z-index: 10;
  transform: scaleX(0);
  visibility: hidden;

  @media(min-width: 575px) {
    height: 100vh;
  }
  
  &--opened {
    visibility: visible;
    transform: scaleX(1);
  }
}

.form {
  display: flex;
  width: 320px;
  padding: 40px 32px;
  flex-direction: column;
  background: #FFFFFF;
  position: relative;
  border-left: 1px solid #D9F5F5;
  z-index: 100;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
              16px 0px 52px rgba(14, 24, 80, 0.2);

  @media(min-width: 1120px) {
    width: 440px;
    height: 100vh;
  }

  &__title {
    position: relative;
    margin-bottom: 24px;
    font-family: 'TTLakes';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: $text;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 40px;
      top: -8px;
      margin-left: -32px;
      background-color: $cyan;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  &__input {
    font-family: 'TTLakes';
    font-weight: 500;
    padding: 12px 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    margin-bottom: 16px;
    resize: none;
  }

  &__text {
    font-family: 'TTLakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-bottom: 19px;
  }

  &__link {
    color: $pink;
  }
}

.form-feedback,
.form-call {

  &__button {
    margin-bottom: 40px;
    
    @media(min-width: $desktop){
      position: absolute;
      top: 32px;
      left: -72px;
    }
  }
}
