@import "./variables";

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #D9FFF5;

  @media(min-width: $desktop) {
    display: none;
  }

  &__part-left {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 18px 0;
  }

  &__part-right {
    display: flex;
    align-items: center;
  }

  &__button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      width: 18px;
      height: 2px;
      height: 2px;
      background-color: #fff;
      box-shadow: 0px -7px 0px 0px #fff,
                  0px 7px 0px 0px #fff;
      border-radius: 5px;
    }

    @media(min-width: $tablet) {
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        pointer-events: none;
      }
    }

   
  }

  &__logo {
    margin-left: 42px;
  }
}
