@import "./variables";

.main {
  padding-top: 24px;

  @media(min-width: $desktop) {
    display: flex;
    padding-top: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(min-width: $desktop) {
      padding-top: 42px;
    }
  }
  
  &__title {
    position: relative;
    font-size: 28px;
    font-family: 'TTLakes';
    font-weight: 700;
    line-height: 40px;
    color: $text;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 40px;
      top: 0;
      margin-left: -16px;
      background-color: $cyan;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
  
      @media(min-width: 575px) {
        margin-left: -25px;
      }
  
      @media(min-width: 1120px) {
        margin-left: -32px;
      }
    }
  }
  
  &__buttons {
    display: none;

    @media(min-width: $desktop) {
      display: block;
    }
  }
}

.menu {

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 24px;
    margin-bottom: 24px;

    @media(min-width: $desktop) {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  
  &__item {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__link {
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    color: #7E7E82;
    padding: 8px 16px;
  }
  
  &__link--active {
    background-color: white;
    box-shadow:inset 0 0 0 2px #B8FFEC;
    border-radius: 2px;
  }
}

.about {
  display: flex;
  flex-direction: column;

  @media(min-width:575px) {
    flex-direction: row;
  }

  &__title {
    position: absolute;
    font-size: 0;
  }

  &__text {
    color: $text;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;

    &:first-child {
      display: block;
    }

    &--hide {
      display: none;
    }


  
    @media(min-width: 575px) {
      line-height: 20px;
    }
  }
  
  &__button {
    margin-left: 8px;
    margin-bottom: 16px;
  }
  
  &__img {
    height: auto;
    width: 100%;
    min-width: 320px;
    max-width: 530px;
    align-self: flex-start;
    padding-bottom: 27px;

    @media(min-width: 575px) {
      min-width: 360px;
      border-radius: 6px;
      padding-right: 25px;
    }

    @media(min-width: 1120px) {
      min-width: 530px;
    }

    @media(min-width: $desktop) {
      padding-right: 0;
    }
  }
}