@import "./variables";

.price {
	
	padding-bottom: 40px;

	&__swiper {
		padding: 16px 8px 48px 8px;

		@media(min-width: 575px) {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 24px;
		}

		@media(min-width: $tablet) {
			padding: 0px 24px 0px 24px;
		}

		@media(min-width: $desktop) {
			padding: 0px 32px 0px 32px;
		}
	}

	&__list {
		width: auto;
		background-color: #fff;
		
		@media(min-width: 575px) {
			flex-direction: column;
			padding-right: 16px;
			padding-left: 16px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 6px;
		padding: 16px;
		width: 260px;
		height: 200px;
		justify-content: space-between;

		@media(min-width: 575px) {
			flex-direction: row;
			width: 100%;
			height: 100%;
			border-radius: 0;
			padding-right: 0;
			padding-left: 0;
			background-color: transparent;
		}

		.price__list > &:not(:last-child) {
			@media(min-width: 575px) {
				border-bottom: 1px solid #EAEAEA;
			}
		}

		&--visible {
			display: none;
			border: none;
			padding-top: 31px;
			padding-left: 24px;

			@media(min-width: 575px) {
				display: flex;

			}

			@media(min-width: $tablet) {
				padding-left: 40px;
				padding-right: 40px;

			}
		}

		

	}

	&__first-part {
		@media(min-width: 575px) {
			flex-basis: 33%;
			display: flex;
			align-items: center;
		}

		@media(min-width: $tablet) {
			flex-basis: 72%;
		}

		@media(min-width: 1120px) {
			flex-basis: 40%;
		}
	 
	}

	&__second-part {
		@media(min-width: 575px) {
			flex-basis: 11%;
			display: flex;
			align-items: center;
		}

		@media(min-width: $tablet) {
			flex-basis: 16%;
		}
	}

	&__third-part {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(min-width: 575px) {
			flex-basis: 43%;
		}

		@media(min-width: 1120px) {
			flex-basis: 30%;
		}

	}

	&__subtitle {
		font-family: 'TTLakes';
		font-weight: 500;
		line-height: 16px;
		color: #7E7E82;
		opacity: 0.72;
		margin-bottom: 4px;
		font-size: 14px;

		@media(min-width: 575px) {
			display: none;
		}

		&--visible {
			@media(min-width: 575px) {
				display: block;
			}
		}
	}

	&__description {
		color: $text;
		line-height: 18px;
		font-size: 14px;
	}

	&__fourth-parh {
		display: flex;
		flex-direction: column;
	}

	&__button {
		
		
		
		@media(min-width: 575px) {
			align-self: center;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		color: $text;
		padding: 0 16px;
		letter-spacing: 0.2px;

		@media(min-width: 575px) {
			padding-right: 0;
		}

		@media(min-width: $tablet) {
			width: 445px;
			padding-left: 24px;
			padding-right: 0;
		}

		@media(min-width: $desktop) {
			padding-left: 32px;
		}
	}

	&__link {
		display: inline-block;
		font-family: 'TTLakes';
		font-weight: 500;
		letter-spacing: -0.2px;
		color: $text;
		line-height: 24px;
		padding: 10px 16px 0 16px;
		position: relative;

		@media(min-width: $tablet) {
			padding-left: 24px;
		}

		@media(min-width: $desktop) {
			padding-left: 32px;
		}

		&::after {
			content: '';
			position: absolute;
			width: 7px;
			height: 12px;
			background-image: url('../img/icon-arrow--color.svg');
			background-repeat: no-repeat;
			bottom: 5px;
			margin-left: 10px;
		}
	}
}