@import "./variables";

.services {
  
  &__list {
    width: auto;
    margin: 0 0 16px 0;
    padding: 16px;
    list-style: none;

    @media(min-width: 575px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 24px 24px 0 24px;
      margin: 0;
      margin-bottom: 24px;
      overflow: hidden;
    }

    @media(min-width: $tablet) {
      justify-content: flex-start;
    }

    @media(min-width: 1120px) {
      padding: 32px 32px 0px 32px;
    }
    
    @media(min-width: $desktop) {
      padding-right: 0;
    }
  }

  &__item {
    min-height: 160px;
    width: 240px;
    display: flex;
    

    @media(min-width: 575px){
      margin-bottom: 16px;
      flex-basis: 46.5%;
    }    

    @media(min-width: $tablet) {
      flex-basis: 31%;
    }

    @media(min-width: 1120px) {
      flex-basis: auto;
      width: 240px;
    }
  }

  &__item:not(:nth-child(3n)) {

    @media(min-width: $tablet) {
      margin-right: 24px;
    }
    
    @media(min-width: 1120px) {
      margin-right: 0;
    }
  }
  
  &__item:not(:nth-child(4n+4)) {

    @media(min-width: 1120px) {
        margin-right: 32px;
    }
}

  &__link {
    width: 100%;
    background: #fff url('../img/icon-go.svg') no-repeat bottom 16px right 16px;
    padding: 16px;
    color: $text;
    font-family: 'TTLakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }

  &__button { 
    display: none;
    margin-left: 32px;
    margin-bottom: 32px;

    @media(min-width: 575px) {
      display: block;
    }
  }
  
}
  