@import "./variables";

.services {

  &__list {
    box-sizing: border-box;
    padding: 16px 16px 48px 16px;

    @media(min-width: 575px) {
      width: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 190px;
      padding: 24px 24px 15px 24px;
    }

    @media(min-width: $tablet) {
      justify-content: flex-start;
    }

    @media(min-width: 1120px) {
      height: 200px;
      padding: 32px 32px 12px 32px;
    }
    
    @media(min-width: $desktop) {
      padding-right: 0;
    }
  }

  &__list--unfolded {
    height: 100%;
  }

  &__item {
    
    width: 240px;

    @media(min-width: 575px){
      margin-bottom: 16px;
      flex-basis: 46.5%;
    }    

    @media(min-width: $tablet) {
      flex-basis: 31%;
    }

    @media(min-width: 1120px) {
      flex-basis: auto;
      width: 240px;
    }
  }

  &__item:not(:nth-child(3n)) {

    @media(min-width: $tablet) {
      margin-right: 24px;
    }
    
    @media(min-width: 1120px) {
      margin-right: 0;
    }
  }
  
  &__item:not(:nth-child(4n+4)) {

    @media(min-width: 1120px) {
        margin-right: 32px;
    }
}

  &__link {
    display: block;
    background: #fff url('../img/icon-go.svg') no-repeat bottom 16px right 16px;
    padding: 16px;
    height: 160px;
    color: $text;
    font-family: 'TTLakes-Medium';
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }

  &__button { 
    display: none;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 32px;

    @media(min-width: 575px) {
      display: block;
    }
  }
  
}
  