@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/swiper-bundle.min.css";
@import "./fonts.scss";
@import "./variables";
@import "./buttons.scss";
@import "./forms";
@import "./mobile-menu.scss";
@import "./header.scss";
@import "./main-section.scss";
@import "./brands-section.scss";
@import "./services-section.scss";
@import "./price-section.scss";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  min-width: 320px;
  background-color: #F8F8F8;
  font-family: 'TTLakes-Regular';
  max-width: 1426px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 16px;

  @media(min-width: 575px) {
    padding: 0px 25px;
  }

  @media(min-width: 1120px) {
    padding: 0 32px;
  }
}

.section-title {
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  text-transform: uppercase;
  border-top: 1px solid #D9FFF5;

  @media(min-width: 575px) {
    padding: 16px 24px;
  }

  @media(min-width: 1120px) {
    padding: 16px 32px;
  }
}

.content {
  @media(min-width: $desktop) {
    width: 1120px;
  }
}